/* .input-group{
    border:3px solid green;
    width: 50px;   
}

.form-control{
    width: 50px;
    border: 3px solid red;

}

.btn-outline-primary{
    width: 50px;
    border: 3px solid gold;
} */